@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

/* font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}
